@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
//Logo font
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Fire Sans", sans-serif;


$dark: #151414;
$highlight: #745DC0;
// $highlight: #FE5F00;
$background: #EEF4FC;
$primary: #76A78C;

