@import "./../../styling/variables";

.btn {
    position: relative;
    background-color: $primary;
    border: none;
    font-size: 1rem;
    color: $background;
    padding: 0.5rem 1rem;
    border-radius: 5%;
    border-color: darken($primary, 10%);
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.6s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      background-color: $highlight;
    }

    &:after {
      content: "";
      background: $primary;
      display: block;
      position: absolute;
      padding-top: 300%;
      padding-left: 350%;
      margin-left: -20px!important;
      margin-top: -120%;
      opacity: 0;
      transition: all 1s
    }

    &:active:after {
      padding: 0;
      margin: 0;
      opacity: 1;
      transition: 0s
    }
}

.small-btn {
  font-size: .8rem;
  padding: .3rem .5rem;
}

.secondary {
  background-color: lighten($dark, 80%);
  color: $dark;
}